/* .navbar {
  height: 8vh;
}
.main-content {
  background-color: #f2efed;
  height: 92vh;
  padding: 2rem;
} */

.card-item {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: Roboto;
}

.secondary-card {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: Roboto;

  height: 50px;
}



/* scroll */
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

::-webkit-scrollbar {display: none;}





/* Image size */
.box{
  width: 300px;
  height: 300px;
  background: #CCC;
  overflow: hidden;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.primary-text h1, h2 {
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
}

@media ( max-width: 1400px ) {
  .primary-text h1, h2 {
    /* color: aqua; */
    font-size: 1.5rem;
  }

  .secondary-text span {
    /* color: aqua; */
    font-size: .8rem;
  }

  .terceary-text h4 {
    /* color: aqua; */
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
  }
}

@media ( max-width: 960px ) {
  .secondary-text span {
    /* color: aqua; */
    font-size: .6rem;
  }

  .terceary-text h4 {
    font-size: .6rem;
    margin: 0px;
    padding: 0px;
  }
}

.color-indicator {
  width: 10px;
  height: 100%;
  border-radius: 10px;
  /* margin-top: 6%; */
  margin-bottom: 3%;
  /* background-color: chocolate; */
  box-shadow: blueviolet;
}

.cursor {
  cursor: pointer;
}

/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
