<div class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <img src="assets/whirlpool-logo.png" alt="" width="100px">

    <div class="navbar-link">
      <b>Sequenced Manifests</b>
    </div>

    <div class="navbar-link">
      <span>Selección</span>
    </div>

    <div class="navbar-link">
      <button class="btn btn-outlined">
        Volver al portal
      </button>
    </div>

  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
